<a href="https://colab.research.google.com/github/baesunyoung34/Python/blob/main/py07_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fuction (함수)

* fuction(함수) : 기능을 수행하는 코드 블록.
* argument : 함수를 호출하는 곳에서 함수에게 전달하는 값.
* parameter : argument를 저장하기 위해서 함수 선언부에서 선언하는 지역 변수.
* return value : 함수가 기능의 수행 결과로 리턴하는 값.
    * return value가 있는 함수
    * return value가 없는 함수
* 파이썬 함수 정의 방법:
    ```
    def function_name([param , ...])
    [""" 문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명''']
        함수 기능 구현
        [return 값]
    
    ```      
* return value가 없는 경우에,
    * return 문장을 생략
    * return None 명시할 수도 있음.

In [ ]:
def subtract(x, y):
    """ 2개의 숫자 x, y를 전달받아서 x-y 결과를 리턴하는 함수.

    """
    return x- y

In [ ]:
result = subtract(1,2)
result

-1

In [ ]:
def repeat_message(message, n):
    """ 문자열(message)과 정수(n)을 전달받아서, message를 n번 출력하는 함수.
    """
    for _ in range(n):
        print(message)

    return None # 생략함
    # 리턴 값이 없으면 보통 return문을 생략하지만, return None으로 명시하기도 함.

In [ ]:
repeat_message('안녕하세여' , 3)

안녕하세여
안녕하세여
안녕하세여

#Ex 1.
* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

In [13]:
import random

In [47]:
def make_list(start, end, n):
    return[random.randrange(start , end) for _ in range(n)]

#Ex 2.
* 함수 이름: calc_sum
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.

In [46]:
def calc_sum (list):
    return sum(list)

#Ex 3.
* 함수 이름: calc_mean
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

In [45]:
def calc_mean(list):
    return sum(list)/len(list)

#Ex 4.
* 함수 이름: calc_var
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수
    * 분산 = (값 - 평균)**2 들의 평균

In [44]:
def calc_var(list):
    result = []
    for x in list:
        result.append((x - calc_mean(list)) ** 2)
    return calc_mean(result)

In [54]:
numbers = make_list(1, 100, 5)
numbers
calc_sum(numbers)
calc_mean(numbers)
calc_var(numbers)

371.76