<a href="https://colab.research.google.com/github/baesunyoung34/Python/blob/main/py07_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function(함수)

*  function(함수): 기능을 수행하는 코드 블록.
*  argument: 함수를 호출하는 곳에서 함수에게 전달하는 값.
*  parameter: argument를 저장하기 위해서 함수 선언부에서 선언하는 지역 변수.
*  return value: 함수가 기능의 수행 결과로 리턴하는 값.
    *  return value가 있는 함수
    *  return value가 없는 함수
*  파이썬 함수 정의 방법:
    ```
    def function_name([param, ...]):
        ["""문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명"""]
        함수 기능 구현
        [return 값]
    ```
*  return value가 없는 경우에,
    *  return 문장을 생략.
    *  return None 명시할 수도 있음.

In [1]:
def subtract(x, y):
    """2개의 숫자 x, y를 전달받아서 x-y 결과를 리턴하는 함수.
    """
    return x - y

In [2]:
result = subtract(1, 2)
result

-1

In [3]:
def repeat_message(message, n):
    """문자열(message)과 양의 정수(n)을 전달받아서, message를 n번 출력하는 함수.
    """
    for _ in range(n):
        print(message)

    return None
    # 리턴 값이 없으면 보통 return문을 생략하지만, return None으로 명시하기도 함.

In [4]:
repeat_message('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

In [5]:
import random

## Ex 1.

* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

In [6]:
def make_list(start, end, n):
    numbers = [random.randrange(start, end) for _ in range(n)]
    return numbers

In [7]:
make_list(0, 10, 5)

[6, 7, 6, 1, 4]

In [8]:
make_list(1, 100, 10)

[13, 62, 81, 60, 3, 97, 51, 15, 62, 31]

## Ex 2.

* 함수 이름: calc_sum
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.

In [9]:
def calc_sum(num_list):
    total = 0
    for x in num_list:
        total += x

    return total

In [10]:
numbers = make_list(0, 10, 5)
print(numbers)
total = calc_sum(numbers)
print(total)

[7, 7, 2, 0, 4]
20

## Ex 3.

* 함수 이름: calc_mean
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

In [11]:
def calc_mean(num_list):
    mean = calc_sum(num_list) / len(num_list)
    return mean

In [12]:
calc_mean(numbers)

4.0

## Ex 4.

* 함수 이름: calc_var
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
    * 분산 = (값 - 평균)**2 들의 평균

In [13]:
def calc_var(num_list):
    mean = calc_mean(num_list)
    squares = [(x - mean) ** 2 for x in num_list]
    variance = calc_mean(squares)
    return variance

In [14]:
calc_var(numbers)

7.6

In [15]:
scores1 = [3, 4, 5, 6, 7]
scores2 = [0, 1, 5, 9, 10]
mean1 = calc_mean(scores1)
mean2 = calc_mean(scores2)
print(f'mean1 = {mean1}')
print(f'mean2 = {mean2}')

mean1 = 5.0
mean2 = 5.0

In [16]:
print(calc_var(scores1))
print(calc_var(scores2))

2.0
16.4

In [17]:
def make_lotto_list():
    lottos = []
    for _ in range(5):
        lotto = set()  # set
        while True:
            lotto.add(random.randrange(1, 46))
            if len(lotto) == 6:
                break
        lottos.append(lotto)
    return lottos

In [18]:
make_lotto_list()

[{7, 14, 16, 18, 37, 40},
 {4, 5, 22, 23, 31, 36},
 {2, 3, 9, 10, 27, 31},
 {18, 19, 22, 32, 34, 44},
 {9, 10, 15, 25, 27, 40}]